.about-course
  padding-top: 50px
  line-height: 2em
  font-size: 1.1em
  p
    text-align: center
    display: inline-block
    width: 1000px

.from-beginner
  padding: 50px 0
  line-height: 1.5em
  h1
    text-align: center
    padding-bottom: 60px

.teachers
  padding: 50px 0
  text-align: center
  .cards
    padding-top: 20px
  .teacher-card
    display: flex
    flex-direction: column
    align-items: center
    padding: 30px
    .text
      text-align: center
      margin-top: 20px
      margin-right: 20px
      .text-bold
        font-size: 1.1em
      p
        margin: 0
        margin-bottom: 5px
    .image-card
      position: relative
      .circle
        z-index: -1
        width: 290px
        height: 290px
        position: absolute
        top: 10%
        left: -10%
        border-radius: 50%
        background: linear-gradient(90deg, $yellow, #FFEC7A)
      .teacher-card-shadow
        position: absolute
        bottom: 5px
        left: -9%
        z-index: -1
        width: 280px
        height: 50px
        box-shadow: 0 25px 25px -20px rgba(0,0, 0, .3)
