$yellow: #FFDD10
$black: #1D1D1D
$white: #FFFFFF
$lightgrey: #FAFAFA
$gray: #BABABA

.container-fluid
  padding: 0

body
  font-family: "Open Sans"

.up-contacts
  p, img
    display: inline-flex
    margin-left: 20px
    margin-bottom: 0
    height: auto
  .number
    font-weight: bold
  .text-grey
    color: $gray
  .row
    display: inline-flex
  .up-address
    margin-left: 10px

.t-bold
  font-weight: bold

.t-logo
  font-size: 22px
  text-transform: uppercase
  padding-top: 10px

.nav-menu
  padding-top: 70px
  a
    text-transform: uppercase
    margin-right: 20px
    color: $black
    font-size: 18px
  a:last-child
    margin-right: 0

.head-section
  background: radial-gradient(circle farthest-corner at 0% 0%, $yellow, $white)