.yellow-image-block
  padding-top: 100px
  padding-bottom: 50px
  line-height: 1.5em
  p
    display: inline-block
    width: 500px
  .text
    //margin: auto
    display: flex
    flex-direction: column
    align-items: flex-end

.left-yellow-image-block

.right-yellow-image-block

.yellow-square-image
  margin-left: 50px
  background: linear-gradient(135deg, $yellow, #FFEC79)
  padding: 0 40px 40px 40px
  img
    margin-top: -50px
