section.about
    .row.align-items-center
        .col-6
            .row.justify-content-end
                img.about-image(src='img/mainImg.png')
        .col-6
            h1 Honey Music Studio
            h2.text-grey Кто мы
            p
                | Мы - коллектив профессиональных музыкантов, влюбленных в свое дело. Пожалуй, это главное, что нужно знать о Honey Music Studio.
            .btn Про школу
