section.atmosphere
    .row
        .col-6
            h1 Атмосфера школы.
        .col-6
            p.text-bold
                | Наши классы оснащены всем
                | необходимым для комфортных занятий
                | музыкой.
            p
                | А приветливые администраторы, лофтовый
                | интерьер, творческие люди вокруг - все
                | это создает атмосферу школы, в которой
                | хочется находится.
        .col-6.imagebox
            .row
                .col-12.image.img-1
                .col-6.image.img-2
                .col-6.image.img-3
        .col-6.imagebox
            .row
                .col-6.image.img-4
                .col-6.image.img-5
                .col-12.image.img-6