section.bigschool
    div
        h1
            | Honey Music Studio - это большая
            br
            |             музыкальная школа
        .row.justify-content-center
            .col-4
                .card
                    h2 27
                    img(src='img/hat.png', alt='')
                    p 27 профессиональных педагогов
            .col-4
                .card
                    h2 300
                    img(src='img/hat.png', alt='')
                    p более 300 учеников, регулярно обучающихся у нас
            .col-4
                .card
                    h2 20
                    img(src='img/hat.png', alt='')
                    p более 20 индивидуальных и групповых курсов
            .col-4
                .card
                    h2 13
                    img(src='img/hat.png', alt='')
                    p 13 музыкальных инструментов
            .col-4
                .card
                    h2 2
                    img(src='img/hat.png', alt='')
                    p 2 локации в пешей доступности от метро
