section.courses-color
    .courses
        h1 Направления
        .row.individual
            .col-6
                a(href='course-voice.php')
                    .card.yellow-card-big
                        img(src='img/intr/1.png', alt='')
                        .text-under
                            p 01
                            h2 Вокал
            .col-6
                .row.card-area
                    .col-6
                        .card.grey-card
                            img(src='img/intr/2.png', alt='')
                            .text-under.text-under-small
                                p 02
                                h2 Фортепиано
                    .col-6
                        .card.blue-card
                            img(src='img/intr/3.png', alt='')
                            .text-under.text-under-small
                                p 03
                                h2 Струнные
                    .col-6
                        .card.pink-card
                            img(src='img/intr/4.png', alt='')
                            .text-under.text-under-small
                                p 04
                                h2 Духовые
                    .col-6
                        .card.green-card
                            img(src='img/intr/5.png', alt='')
                            .text-under.text-under-small
                                p 05
                                h2 Ударные
        .row.group
            .col-3
                .card.lightyellow-card
                    img(src='img/intr/5.png', alt='')
                    .text-under.text-under-small
                        p 06
                        h2 Фортепиано
                        h2 Судзуки
            .col-3
                .card.purple-card
                    img(src='img/intr/07.png', alt='')
                    .text-under.text-under-small
                        p 07
                        h2 Кавер-хор
            .col-3
                .card.darkblue-card
                    img(src='img/intr/08.png', alt='')
                    .text-under.text-under-small
                        p 08
                        h2 Теория
                        h2 музыки
            .col-3
                .card.darkpink-card
                    img(src='img/intr/5.png', alt='')
                    .text-under.text-under-small
                        p 09
                        h2 Amadeus
                        h2 Camp
            .col-6
                .card.grey-card
                    img(src='img/intr/5.png', alt='')
                    .text-under.text-under-small
                        p 10
                        h2 Общее
                        h2 музыкальное развитие
            .col-6
                .card.yellow-card
                    img(src='img/intr/5.png', alt='')
                    .text-under.text-under-small
                        p 11
                        h2 Музыкальная
                        h2 мультстудия
