section.experience
    .row
        .col-12
            .row.image-parallax.align-items-end.justify-content-center
            h1.image-text.text-bold Опыт HMS
            h2 В 2018 году мы провели
        .col-12.exp-cards
            .row
                .col-3
                    h2 15
                    p ярких концертов
                .col-3
                    h2 12
                    p наград на конкурсах
                .col-3
                    h2 3
                    p детских мюзикла
                .col-3
                    h2 2
                    p музыкальных мультфильма
        .col-12.mark-text
            p.text-bold
                | но нельзя измерить
                mark цифрами
                |  самое главное - вдохновение наших учеников, их
                mark радость
                |  и
                mark блеск в глазах.
