footer
    .row.justify-content-center
        .logo
            img.logo-image(src='img/logo.svg')
            p.logo-text Honey Music Studio
        .col-12
            .href-line
                a(href='#') Подарочные сертификаты
                i.fas.fa-circle
                a(href='#') Вакансии
                i.fas.fa-circle
                a(href='#') Политика конфиденциональности
        .col-12.social-line
            a(href='#')
                i.fab.fa-facebook-f
            a(href='#')
                i.fab.fa-instagram
            a(href='#')
                i.fab.fa-youtube
        p
            | Музыкальная школа Honey Music Studio
            br
            |             © 2019
