section.freelesson
    h1 Бесплатное пробное занятие
    .row.justify-content-center
        .col-12
            form(action='')
                input(type='text', placeholder='Ваше имя')
                input(type='text', placeholder='Телефон')
                .btn Записаться
        .col-3
            h2 1-ый шаг
            p
                | Знакомство с педагогом. Вы рассказываете про свои цели на обучение и каких результатов вы хотите достичь.
        .col-3
            h2 2-ой шаг
            p
                | Преподаватель школы определяет вашу музыкальность: слух, чувство ритма, интонирование.
        .col-3
            h2 3-ий шаг
            p
                | Исходя из ваших целей и учитывая текущие данные педагог предложит программу вашего индивидуального обучения.
