section
    .row.yellow-image-block.right-yellow-image-block
        .col-6
            .text
                p.text-bold
                    | На уроках вы будете исполнять вашу
                    | любимую музыку, а если захотите
                    | продемонстрировать результат, то
                    | сможете выступить перед любой
                    | публикой на отчетных концертах школы
                    | и испытать на сцене незабываемые
                    | эмоции.
                p
                    | Двери нашей школы открыты для людей всех
                    | возрастов и любого уровня подготовки.
                    | Большинство наших студентов занимаются
                    | для себя, для «души». Но есть и те, кто
                    | побеждают на международных конкурсах,
                    | поступают в творческие вузы и учувствуют в
                    | телевизионных проектах.
        .col-6
            .row
                .yellow-square-image
                    img(src='img/voice-girl.png', alt='')
