section.teacher-photo-block
    .row
        .radial-gradient.radial-gradient-left.col-6
        .radial-gradient.radial-gradient-right.col-6
    .row
        .col-12
            img#teacher-image(src='img/teachers.png', alt='')
            h1 Honey Music Studio
            p.text-bold
                | Мы - коллектив профессиональных музыкантов, влюбленных в свое дело.
                br
                |                 Пожалуй, это главное, что нужно знать о Honey Music Studio.
            p
                | Современное музыкальное образование должно быть одновременно и
                mark интересным
                | , и
                mark эффективным.
                |  Именно эта идея лежит в основе Honey Music Studio. В нашей школе с
                |                 вами будет заниматься профессиональный педагог, заинтересованный в вашем
                |                 развитии.
