section.video-aboutus
    .row
        .col-12
            h1 Посмотри видео про нас!
        .col-12
            img#hex-1.hexagon(src='img/hexagon.svg', alt='')
            img#hex-2.hexagon(src='img/hexagon.svg', alt='')
            img#hex-3.hexagon(src='img/hexagon.svg', alt='')
            .video-block
                iframe(width='625', height='375', src='https://www.youtube.com/embed/V-plAPYbQvg', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
