section.way-goal
    .row
        .col-12.title
            h1
                | Почему в Honey Music Studio вы
                | достигнете своих целей?
        .col-4.list-items
            .item.active
                p.text-grey 01/
                p Индивидуальный подход
            .item
                p.text-grey 02/
                p Обучение с нуля и в любом возрасте
            .item
                p.text-grey 03/
                p Мы знаем лучшие из существующих методик обучения
            .item
                p.text-grey 04/
                p Педагог - действующий музыкант
        .col-8.text-item
            p.text-bold.text-item-title Индивидуальный подход
            p.text-bold
                span.mark
                    | Мы ориентируемся на цели ученика. Одному мы помогаем брать призовые места на конкурсах, готовим к кастингам и поступлению в творческие вузы. Другой просто получает удовольствие от занятий вокалом.
            p
                | Это и есть индивидуальный подход: готовность вместе достигать именно ваших целей.
            p
                | Занятия по вокалу - только индивидуальные. Один учитель и один учение - это лучший способ чему-то научиться.
