doctype html
html(lang='ru')
    head
        include ./parts/head-tags
        title Вокал
    body
        .container
            include ./parts/head-tags
            include ./parts/header
            main
                section.about-course.text-align-center
                    h1 Мы. Учим. Петь.
                    p.text-bold
                        | Научиться петь может каждый. Мы ежедневно доказываем это на практике.
                        | «От нуля и до профи» - так можно охарактеризовать наш подход, ведь более
                        mark 80% наших учеников прежде не занимались вокалом.
                        |  Даже будущие
                        |                 победители вокальных конкурсов.
                section
                    .row.yellow-image-block.right-yellow-image-block
                        .col-6
                            .text
                                p
                                    | Занятие вокалом должны приносить удовольствие и радость, поэтому вы будете учиться петь, исполняя на уроках ваши любимые композиции.
                                p
                                    | Мы вместе пройдем путь от самых основ до вашего первого уверенного выступления на сцене.
                                p
                                    | Обучение вокалу - это сложная и тонкая работа, но под руководством опытного наставника вы сможете добиться хороших результатов.
                        .col-6
                            .row.justify-content-end
                                .yellow-square-image
                                    img(src='img/voice-girl.png')
                section.grey-block
                    .row.justify-content-space-around.from-beginner
                        .col-12
                            h1 Обучаем вокалу с нуля. Обучаем опытных.
                        .col-3
                            img(src='img/voice-beginner.svg', alt='')
                            h2 Начинающие
                            p.text-bold
                                | Очень важно понять, зачем человек хочет учиться вокалу. Педагог и ученик должны одинаково видеть результат, к которому они стремятся.
                            p
                                | Исходя из этого, педагог разрабатывает индивидуальный план занятий. Начинается обучение всегда с основы - постановки голоса (дыхание, дикция и артикуляция, формирования певческого звука, устранение вокальных зажимов.
                        .col-3
                            img(src='img/voice-middle.svg', alt='')
                            h2 Любители
                            p.text-bold
                                | Один из самых уровней подготовки: ученик владеет базовыми знаниями и уже может исполнять несложные песни.
                            p
                                | На этом этапе мы формируем индивидуальную манеру исполнения. Учимся петь в разных жанрах с учётом
                                | стилистических особенностей  музыки, начинаем осваивать различные вокальные
                                | техники. Цель этапа - сформировать собственный стиль исполнения.
                        .col-3
                            img(src='img/voice-expert.svg', alt='')
                            h2 Опытные
                            p.text-bold
                                | С опытными мы работаем над освоением профессиональных вокальных техник, над подбором репертуара и раскрытием сценического образа.
                            p
                                | На этом этапе урок представляет микс занятий по вокалу, актёрскому мастерству и сцендвижению. Задача школы - формирование вашей творческой индивидуальности, чтобы вас воспринимали не как ученика школы, а как настоящего артиста.
                section.teachers
                    .row.justify-content-center
                        h1
                            | Преподаватели вокала
                            | Honey Music Home.
                        p.text-bold
                            | В нашей музыкальной школе работают только опытные педагоги, которые
                            | ответственно подходят к обучению каждого студента. Они умеют
                            | вдохновлять, поддерживать и доводить своих учеников до результата.
                        .col-4.teacher-card
                            .image-card
                                .circle
                                img.teacher-image(src='img/teacher.png', alt='')
                                .teacher-card-shadow
                            .text
                                p.text-bold Анна Малинина
                                p.text-grey преподаватель вокала
                        .col-4.teacher-card
                            .image-card
                                .circle
                                img.teacher-image(src='img/teacher.png', alt='')
                                .teacher-card-shadow
                            .text
                                p.text-bold Анна Малинина
                                p.text-grey преподаватель вокала
                        .col-4.teacher-card
                            .image-card
                                .circle
                                img.teacher-image(src='img/teacher.png', alt='')
                                .teacher-card-shadow
                            .text
                                p.text-bold Анна Малинина
                                p.text-grey преподаватель вокала
                section.results.grey-block
                    .row.justify-content-center
                        h1.text-title
                            | В результате обучения в Honey Music Studio
                            | вы сможете:
                        .col-3.card.card
                            h2.text-gradient 01
                            p
                                | Легко и красиво
                                | исполнять results любимые
                                | песни в различных
                                | стилях (pop, rock, soul,
                                | folk, jazz).
                        .col-3.card
                            h2.text-gradient 02
                            p
                                | Освоить вокальные
                                | техники: субтон, гроул,results
                                | фрай, бэлтинг,
                                | мелизматика, вибрато и
                                | другие.
                        .col-3.card
                            h2.text-gradient 03
                            p
                                | Преодолеть чувство
                                | страха results перед
                                | выступлением. Вести
                                | себя на сцене свободно и
                                | расковано.
                        .col-3.card
                            h2.text-gradient 04
                            p
                                | Петь сольно и
                                | импровизировать. Петь
                                | в составе дуэта или
                                | ансамбля.
                        .col-3.card
                            h2.text-gradient 05
                            p
                                | Выступать на концертах
                                | школы на одной сцене с
                                | профессиональными
                                | музыкантами.
                        .col-3.card
                            h2.text-gradient 06
                            p
                                | Участвовать в вокальных
                                | фестивалях, конкурсах и
                                | кастингах.
                include ./parts/freelesson-section
                section.stages
                    .row
                        .row
                            .col-12.title
                                h1
                                    | Этапы обучения вокалу в
                                    br
                                    |                             Honey Music Studio
                                p.text-bold
                                    | Основная часть наших учеников хочет научиться петь для себя. Но есть и те, кто
                                    | приходит к нам за профессиональной подготовкой, чтобы в дальнейшем строить
                                    | свою музыкальную карьеру. Вне зависимости от целей, все проходят необходимые
                                    | базовые этапы становления вокалиста.
                                p 1 и 2 этапы базовые.
                            .row.yellow-image-block.right-yellow-image-block
                                .col-6
                                    h1 1 этап. «Постановка голоса».
                                    ul
                                        li
                                            .circle-marker
                                            | Определяем тип голоса.
                                        li
                                            .circle-marker
                                            | Гигиена голосового аппарата (профилактика и
                                            |         необходимые меры по восстановлению голоса).
                                            |         Выработка полезных вокальных привычек.
                                        li
                                            .circle-marker
                                            | Обучение пению «на опоре». (Постановка
                                            |         «певческого дыхания»).
                                        li
                                            .circle-marker
                                            | Устранение вокальных «зажимов»
                                            |         отрицательных качеств голоса: гнусавость,
                                            |         гортанность, форсирование звука,
                                            |         недостаточность силы звучания голоса, сип,
                                            |         быстрая утомляемость голосовых связок.
                                        li
                                            .circle-marker
                                            | Правильная дикция и артикуляция (коррекция
                                            |         некоторых дефектов речи).
                                        li
                                            .circle-marker
                                            | Формирование правильного певчего звучания.
                                        li
                                            .circle-marker
                                            | Развитие музыкального слуха и чувства ритма.
                                .col-6
                                    .row.justify-content-end
                                        .yellow-square-image
                                            img(src='img/voice-girl.png')
                            .row.yellow-image-block.left-yellow-image-block
                                .col-6
                                    .row.justify-content-end
                                        .yellow-square-image
                                            img(src='img/voice-man.png')
                                .col-6
                                    h1 2 этап. «Поиск и формирование индивидуального звучания».
                                    ul
                                        li
                                            .circle-marker
                                            | Подбор индивидуальных упражнений.
                                        li
                                            .circle-marker
                                            | Расширение диапазона, «сглаживание» регистров.
                                        li
                                            .circle-marker
                                            | Работа с микрофоном.
                                        li
                                            .circle-marker
                                            | Разбор композиций (разбор формы произведения, работа с текстом, фразировка, расстановка акцентов, выбор и отработка вокальных приёмов).
                                        li
                                            .circle-marker
                                            | Правильная дикция и артикуляция (коррекция некоторых дефектов речи).
                                        li
                                            .circle-marker
                                            | Развитие гармоничного слуха. Бэк-вокал, умение «держать партию» в ансамблевом пении.
                                        li
                                            .circle-marker
                                            | Пение в дуэте в ансамбле.
                section.duration-lesson.grey-block
                    .row
                        .col-12
                            h1 Как проходит типичный урок вокала в Honey Music Studio
                        .col-6
                            .row.justify-content-end
                                .col-auto.text
                                    h2.text-gradient 55 мин
                                    p.text-bold
                                        mark Длительность одного урока 55 минут.
                                    p Все занятия по вокалу в школе индивидуальны.
                        .col-6.image
                            img(src='img/cello.png', alt='')
                section.plan-lesson
                    .row
                        .col-12
                            h1 Структура урока
                        .col-6
                            .item
                                p.text-bold 1. Настройка
                                p
                                    | Часто говорят, что урок начинается с распевок. Но на самом деле для плодотворной работы нужно привести в порядок своё психоэмоциональное состояние, и настроится на урок.
                            .item
                                p.text-bold 2. Работа над дыханием
                                p
                                    | Певческое дыхание - основа основ, и мы работаем над этим на каждом уроке до тех пор, пока пение на опоре не войдет в плоть и кровь вокалиста.
                            .item
                                p.text-bold 3. Артикуляция и дикция
                                p
                                    | Правильное и четкое произношение слов является необходимой составляющей красивого исполнения. К тому же, певческая артикуцией гласных и согласных звуков отличается от речевой.
                            .item
                                p.text-bold 4. Индивидуальный распевки
                                p
                                    | Из большого количества вольных упражнений и распевок мы отбираем те, которые подходят для конкретного ученика и развивают его сильные стороны. Или исправляют слабые.
                            .item
                                p.text-grey.text-smaller
                                    | ~ 30 минут отводится работе на подготовительный этап. Чем более опытный вокалист, тем быстрее мы переходим к работе над песней
                        .col-6
                            .item
                                p.text-bold 5. Работа над песней
                            .next-level
                                .item
                                    p.text-bold 5.1 Выбор репертуара
                                    p
                                        | Необходимо, чтобы песня соответствовала возрасту, диапазону и вокальному уровню ученика.
                                .item
                                    p.text-bold 5.2 Работа с текстом
                                    p
                                        | Если композиция на иностранном языке, то обязательно производится дословный перевод. Далее заучивается текст и мелодия. После чего мы делаем исполнение песни интересным с помощью фразировки, динамики, агогики.
                                .item
                                    p.text-bold 5.3 Работа над сценическим образом
                include ./parts/feedback-section
                include ./parts/way-goal-section
                include ./parts/atmosphere-section
                include ./parts/footer
                include ./parts/bottom-scripts-include