doctype html
html(lang='ru')
    head
        include ./parts/head-tags
        title HMS
    body
        .container
            include ./parts/header
            main
                include ./parts/about-section
                include ./parts/course-section
                include ./parts/colums-section
                include ./parts/bigschool-section
                include ./parts/freelesson-section
                include ./parts/atmosphere-section
                include ./parts/footer
        include ./parts/bottom-scripts-include