doctype html
html(lang='en')
    head
        include ./parts/head-tags
        title Цены
    body
        include ./parts/header
        main
            section.title-section
                .row
                    .col-12
                        h1.title Цены
            section.price-section
                .row
                    .col-12
                        h2 Индивидуальные занятия
                        p
                            | Индивидуальные занятия по выбранной специальности - основа
                            | обучения. В нашей школе существует система на 4 / 8 / 12 / 24 занятия.
                        p
                            span.text-bold Один урок длится 55 минут.
                            |  Как только у вас заканчивается оплаченные
                            |                         занятия абонемента, вы покупаете новый.
                    .col-3.price-card
                        .text-card
                            p.text-bold Абонемент
                            p 4 занятия
                            p.text-gradient 2 500 ₴
                    .col-3.price-card
                        .text-card
                            p.text-bold Абонемент
                            p 8 занятий
                            p.text-gradient 4 500 ₴
                    .col-3.price-card
                        .text-card
                            p.text-bold Абонемент
                            p 12 занятий
                            p.text-gradient 6 500 ₴
                    .col-3.price-card
                        .text-card
                            p.text-bold Абонемент
                            p 24 занятия
                            p.text-gradient 12 500 ₴
            section.price-section
                .row
                    .col-12
                        h2 Групповые занятия
                        p
                            | Ученики, которые хотят заниматься музыкой на профессиональном уровне,
                            | должны хорошо владеть сольфиджио и теорией музыки. А также
                            | совершенствовать свои навыки игры или пения в ансамбле.
                    .col-3.price-card
                        .text-card
                            p.text-bold «Сольфеджио и музыки»
                            p 4 занятия
                            p.text-gradient 2 500 ₴
                    .col-3.price-card
                        .text-card
                            p.text-bold «Инструментальный ансамбль»
                            p 8 занятий
                            p.text-gradient 4 500 ₴
                    .col-3.price-card
                        .text-card
                            p.text-bold «Вокальный ансамбль»
                            p 12 занятий
                            p.text-gradient 6 500 ₴
                    .col-3.price-card
                        .text-card
                            p.text-bold «Написание песен»
                            p 24 занятия
                            p.text-gradient 12 500 ₴
            section.price-section
                .row
                    .col-12
                        h2 Занятия по вокалу
                    .col-3.price-card
                        .text-card
                            p.text-bold Абонемент
                            p 4 занятия
                            p.text-gradient 2 500 ₴
                    .col-3.price-card
                        .text-card
                            p.text-bold Абонемент
                            p 8 занятий
                            p.text-gradient 4 500 ₴
                    .col-3.price-card
                        .text-card
                            p.text-bold Абонемент
                            p 12 занятий
                            p.text-gradient 6 500 ₴
                    .col-3.price-card
                        .text-card
                            p.text-bold Абонемент
                            p 24 занятия
                            p.text-gradient 12 500 ₴
    include ./parts/footer
    include ./parts/bottom-scripts-include
